extends head.pug
block head
    body
        a(href="/users/logout") Logout 
        h1 Hello #{user}!

        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')